.hub_specification {
    width:100%;
    background-color:red;
    height:20px;  
}
@media only screen and (max-width:350px) {
    .hub_specification {
    width:50%;
    background-color:oink;
    height:20px;  
}
}